<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">

{% set name = "Nighthawk Coding" %}
{% set github = "https://github.com/nighthawkcoders" %}
{% set twitter = "https://twitter.com/NighthawkCoding" %}
{% set youtube = "https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>{{ name }} | {{ project }} </title>

</head>

<body>
{% include "layouts/navbar.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-end" style="padding: 2%;">
        <div class="col-2" style="text-align: right;">
            {% block info %}
                <!-- notice jinja style variables used in href's -->
                <a><h5>{{name}}</h5></a>
                <a href={{github}} target="_blank"><i class="fa fa-github"></i></a>
                <a href={{youtube}} target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href={{twitter}} target="_blank"><i class="fa fa-twitter"></i></a>
            {% endblock %}
        </div>
    </div>

    <div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">

            <div class="col-8" >
                <h1>{{ project }} Project</h1>
            </div>

        </div>

        <div class="row" style="padding-left: 10%;">
            {% block links %}
            <div class="col-3">
                <a href="{{ overview }}" class="btn">Overview</a>
            </div>

            <div class="col-3">
                <a href="{{ repo }}" class="btn">Repository</a>
            </div>
            {% endblock %}
        </div>

    </div>
</div>
{% endblock %}

</body>



</html>

</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous" ></script>
<!-- JQuery CSS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block colors %}
<link rel="stylesheet" type="text/css" href={{url_for("static", filename="scss/customcss.css", version='208')}}>
{% endblock %}