<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #c27370; font-family: Trebuchet MS;">


    <img src="https://cdn.picpng.com/book/book-thick-isolated-pink-peach-76969.png" height="40px" width="40px" style="margin-right: 15px">
    <a class="navbar-brand" href="{{ url_for('index') }}">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href="https://github.com/Athena9355/Team-123-final-version">GitHub Page</a>
            <a class="nav-link" href="http://127.0.0.1:8080">Home</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/dictionary">Dictionary</a>

            <!-- stub is shown using the name of the route -->


            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us !
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/natalie_abt">Natalie</a>
                    <a class="dropdown-item" href="/kamya">Kamya</a>


                </div>
            </div>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create Task
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/to_do">To-Do</a>


                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PBL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/faqs">Faqs</a>
                    <a class="dropdown-item" href="/discussion">discussion</a>
                </div>

            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Crud
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{url_for('crud.crud')}}>Data Base</a>
                    <a class="dropdown-item" href={{url_for('notes.notes')}}>Notes</a>
                    <a class="dropdown-item" href="/search">Search </a>
                </div>
            </div>


        </div>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
        <label class="custom-control-label" for="darkSwitch"></label>
    </div>
    <script>
        function darkFunction() {
            let element = document.body;
            element.classList.toggle("dark-mode");
        }
        const darkSwitch=document.getElementById("darkSwitch");
        if(darkSwitch) {
            const darkSwitchSelected =
                localStorage.getItem("darkSwitch") !== null &&
                localStorage.getItem("darkSwitch") === "dark";
            darkSwitch.checked=darkSwitchSelected;
            if (darkSwitchSelected)
                document.body.classList.toggle("dark-mode");
        }
        function darkFunction() {
            // toggles between off (standard CSS) and dark-mode (.dark-mode CSS)
            document.body.classList.toggle("dark-mode");
            // localStorage is used to manage darkSwitch status
            darkSwitch.checked
                ? localStorage.setItem("darkSwitch","dark")
                : localStorage.removeItem("darkSwitch");}
    </script>
</nav>
