<!DOCTYPE html>

{% extends "layouts/base.html" %}
{% block body %}

    <h2 style="text-align:center; background-color: white; margin: 2%; color: cadetblue; font-size: 30px">
        <span>Sign Up</span>
    </h2>

<div style="background-color: #e8a1a5; margin: 2%">

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <form method="POST" ID="authUser" action=/authorize>
                    <label for="user_name">Username</label><br>
                    <input type="text" id='user_name' name="user_name" size="20" required><br><br>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" size="20" required><br><br>
                    <label for="password1">Password</label><br>
                    <input type="password" id='password1' name="password1" size="20" required><br><br>
                    <label for="password2">Password Confirmation</label><br>
                    <input type="password" id='password2' name="password2" size="20" required><br><br>
                    <input style="border-radius: 12px; background-color: cadetblue; color: white" type="submit" value="Sign Up"><br><br>
                    <p>Back to <a style="color: #093b66" href="/login">Log In</a></p>
            </form>
        </div>
    </div>

</div>

{% endblock %}
