
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="top-bar">
    <h1>
        Book talks
    </h1>
</div>
<div class="main">
    <ol>
    </ol>
</div>
<div class="main">
    <div class="header">
    </div>
    <textarea></textarea>
    <button>add comment</button>
    <div class="comments">
    </div>
</div>
<script> var defaultThreads = [
    {
        id: 1,
        title: "Thread 1",
        author: "Student 1",
        date: Date.now(),
        content: "Thread content",
        comments: [
            {
                author: "Student 2",
                date: Date.now(),
                content: "Hey there"
            },
            {
                author: "Student 1",
                date: Date.now(),
                content: "Hey to you too"
            }
        ]
    },
    {
        id: 2,
        title: "Thread 2",
        author: "Student 1",
        date: Date.now(),
        content: "Thread content 2",
        comments: [
            {
                author: "Student 2",
                date: Date.now(),
                content: "Hey there"
            },
            {
                author: "Student 3",
                date: Date.now(),
                content: "Hey to you too"
            }
        ]
    }
]

var threads = defaultThreads
if (localStorage && localStorage.getItem('threads')) {
    threads = JSON.parse(localStorage.getItem('threads'));
} else {
    threads = defaultThreads;
    localStorage.setItem('threads', JSON.stringify(defaultThreads));
}</script>
<script>
    console.log(threads);
    var container = document.querySelector('ol');
    for (let thread of threads) {
        var html = `
            <li class="row">
                <a href="/thread.html?${thread.id}">
                    <h4 class="title">
                        ${thread.title}
                    </h4>
                    <div class="bottom">
                        <p class="timestamp">
                            ${new Date(thread.date).toLocaleString()}
                        </p>
                        <p class="comment-count">
                            ${thread.comments.length} comments
                        </p>
                    </div>
                </a>
            </li>
            `
        container.insertAdjacentHTML('beforeend', html);
    }
</script>
<script src="data.js"></script>
<script>
    var id = window.location.search.slice(1);
    var thread = threads.find(t => t.id == id);
    var header = document.querySelector('.header');
    var headerHtml = `
            <h4 class="title">
                ${thread.title}
            </h4>
            <div class="bottom">
                <p class="timestamp">
                    ${new Date(thread.date).toLocaleString()}
                </p>
                <p class="comment-count">
                    ${thread.comments.length} comments
                </p>
            </div>
        `
    header.insertAdjacentHTML('beforeend', headerHtml)

    function addComment(comment) {
        var commentHtml = `
                <div class="comment">
                    <div class="top-comment">
                        <p class="user">
                            ${comment.author}
                        </p>
                        <p class="comment-ts">
                            ${new Date(comment.date).toLocaleString()}
                        </p>
                    </div>
                    <div class="comment-content">
                        ${comment.content}
                    </div>
                </div>
            `
        comments.insertAdjacentHTML('beforeend', commentHtml);
    }

    var comments = document.querySelector('.comments');
    for (let comment of thread.comments) {
        addComment(comment);
    }

    var btn = document.querySelector('button');
    btn.addEventListener('click', function() {
        var txt = document.querySelector('textarea');
        var comment = {
            content: txt.value,
            date: Date.now(),
            author: 'Aaron'
        }
        addComment(comment);
        txt.value = '';
        thread.comments.push(comment);
        localStorage.setItem('threads', JSON.stringify(threads));
    })
</script>
<style>
    body {
        margin: 10px 60px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    h1, h4, ol {
        margin: 0;
    }
    p {
        margin: 5px 0;
    }
    .top-bar {
        background-color: skyblue;
        padding: 0 40px;
    }
    .main {
        background-color: #F6F6EF;
        padding: 10px 15px;
    }
    .row {
        padding: 5px 0;
    }
    .bottom {
        display: flex;
        color: grey;
        font-size: 12px;
    }
    .timestamp {
        padding-right: 10px;
    }
</style>
</body>
</html>