<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4"> Fib Login Page</span>
        <sup>logged in user: {{current_user.name}}</sup></span>
        <sup><td><a href={{url_for('crud.logout')}}>Log Out</a></td></sup>
    </header>
</div>

<div class="container py-4 text-light bg-success">

    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <form method="POST" ID="loginfib" action={{url_for('crud.crud_login_fib')}}>
                <table>
                    <tr><th><label for="email">Email</label></th></tr>
                    <tr><td><input type="email" id='email' name="email" size="20" required></td></tr>
                    <tr><th><label for="password">Password</label></th></tr>
                    <tr><td><input type="password" id="password" name="password" size="20" required></td></tr>
                    <form method="POST" action={{url_for('algorithm.fibonacci')}}>
                        <tr><th><input type="submit" value="Submit"></th></tr>
                    </form>
                    <tr><td><a href={{url_for('crud.crud_authorize')}}>Sign Up</a></td></tr>
                </table>
            </form>
        </div>
    </div>

</div>
{% endblock %}
